src/main/resources/wsdl/requeststorage.wsdl

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080/"
           targetNamespace="http://localhost:8080/" elementFormDefault="qualified">

  <xs:element name="getRequestStorageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="number" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getRequestStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestStorage" type="tns:Result"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createNewFilesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numberOfFiles" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createNewFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="fileNames" type="xs:string"/>
      <xs:element name="error" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>